<app-title [title]="'Eventos'"></app-title>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
     type="text"
     class="form-control mr-2"
     placeholder="Buscar"
     [(ngModel)]="listFilter"
     >
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"
        (click)="changeImage()">
        <i class="{{!displayImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!displayImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents">
      <td>
        <img [collapse]="!displayImg"
            [isAnimated]="true"
         src="/assets/{{event.imageURL}}"
         [style.width.px]="widthImg"
         [style.margin.px]="marginImg"
        >
      </td>
      <td>{{event.id}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.place}}</td>
      <td>{{event.eventDate | DateFormatPipe}}</td>
      <td>{{event.amountPeople}}</td>
      <td>{{event.batches[0].name | uppercase}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td *ngIf="!events.length" colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>



